/*css file*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/*header*/
*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
   
}
.containers{
    width:100%;
   height: auto;
    font-family: 'cookie', cursive;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #ffbf66 ;
    overflow: hidden;
}
.banner{
    width:100%;
    height: 757px;
    background-image: url("marriage-prep.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 0 0 500px 0;
    background-attachment: fixed;
}
.nav{
    width:90%;
    height: auto;
    background-color: #ffeecc;
    border-radius: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.nav b{
    font-size: 42px;
    margin-left: 20px;
    font-family:'Dancing Script', cursive;
}
.menu{
    width:50%;
    height: 60px;
    border-radius: 30px;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.5);
    transition-duration: .5s;
}
.menu a{
    text-decoration: none;
    font-size: 20px;
    color:#333;
    font-weight: bolder;
    transition-duration: .5s;
}
.menu a:hover{
    border-bottom: 5px solid #f15;
}
.text{
    width:100%;
    position: relative;
    top:40px;
    left: 20px;
    font-size: 50px;
    text-align: left;
}
.text h1{
    color:#f15;
    text-shadow: 0 3px 10px rgba(0,0,0,.5);
}
.text .date{
    color:#fff;
    background-color: #f15;
    padding: 5px;
    border-radius: 40px 0 40px 0;
    transition-duration: .5s;
}
.text .date:hover{
    background-color: #fff;
    color:#f15;
}
/*section*/
.cards-add{
    background-color:#ffbf66 ;
}
.style-card{
    padding-top: 20px;
    text-align:center;
    margin-left: 235px;
    margin-right: 235px;
}
.head-1{
    color: #330000;
    margin-top: 10px;
}
.btn-1{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:white
}
.btn-1:hover{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    background-color: #330000;
}
/*couple-section*/
.couple-section{
padding-top: 80px;  
background-color: #ffbf66;
padding-bottom: 40px;
}
.section-title h2{
   font-family:'Dancing Script', cursive;
   text-align: center;
   font-size: 45px;
   color:black;
   margin-bottom: 80px;
   letter-spacing: 2px;
}
.couple-section .couple{
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 60px;
    text-align: center;
    position: relative;
}
.couple-section .couple:nth-child(2):before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height:90%;
    background-color: #ff791a;
}
.couple-section .couple i.fa-heart{
    position: absolute;
    left: -15px;
    width: 31px;
    background-color: #ffbf66;
    padding: 5px;
    text-align: center;
    font-size: 18px;
    top: 30%;
    color: #f15;
}
.couple-section .couple img{
    max-width: 290px;
    width: 100%;
    border-radius: 50%;
    height: 50%;
    border: 10px solid #f15;
}
.couple-section .couple h3{
   font-size: 40px;
   margin: 15px 0;
   font-family:'Dancing Script', cursive;
   font-weight: normal;
   letter-spacing: 2px;
   color: #330000
}
.couple-section .couple p{
   font-size: 16px;
   line-height: 26px;
   margin: 0;
}
.couple-section .social-links{
    padding-top: 30px;
}
.couple-section .social-links  i{
 height: 32px;
 width: 32px;
 border: 1px solid #f15;
 line-height: 30px;
 text-align: center;
 color: #f15;
 border-radius: 50%;
 transition: all 0.5s ease;
}
.couple-section .social-links  i:hover{
    color: #ffff;
    background-color: #f15;
   }

   /*galerie section*/
.gallerie-section{
    padding: 80px 0 80px ;
    background-color:#ffbf66;
}
.section-title2{
    text-align: center;
   
}
.gallerie-section .gallery-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px;
}
.gallerie-section .gallery-item-inner{
    overflow: hidden;
    cursor: pointer;
}
.gallerie-section .gallery-item-inner img{
     width: 100%;
     transform: scale(1.1);
     transition: all 0.5s ease;
}
.gallerie-section .gallery-item-inner:hover img{
transform: scale(1);
}
/*clients*/
.story-section{
    padding:80px 0 80px;
    background-color:#ffbf66;
}
.story-section .story-content{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
}
.story-section .story-content:before{
    content: '';
    position: absolute;
    left: 50%;
    width: 1px;
    height: 98%;
    top: 0;
    background-color: #ff791a;
}
.story-section .story-item i{
    position: absolute;
    left: 50%;
    width: 31px;
    text-align: center;
    background-color: #ffbf66;
    color: #f15;
    padding: 5px;
    margin-left: -15px;
    top: 5px;
    font-size: 18px;
}
.story-section .story-item{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 50px;
    position: relative;
}
.story-section .story-item:nth-child(even){
    flex-direction: row-reverse;
}
.story-section .story-item:nth-child(odd) .story-text{
 padding: 0 60px 0 15px;
 text-align: right;
}
.story-section .story-item:nth-child(odd) .story-img{
    padding: 0 15px 0 60px;
}

.story-section .story-item:nth-child(even) .story-text{
    padding: 0 15px 0 60px;
   }
   .story-section .story-item:nth-child(even) .story-img{
       padding: 0 60px 0 140px;
   }
.story-section .story-text,
.story-section .story-img{
    flex:0 0 50%;
    max-width:50%
}
.story-section .story-text h3{
font-size: 24px;
margin: 0 0 8px;
color: #330000;
font-weight: 500;
text-transform: capitalize;
}
.story-section .story-text span.date{
font-size: 15px;
font-weight: 700;
color: #555555;
margin: 0 0 15px;
display: block;
text-transform: capitalize;
}
.story-section .story-text p{
font-size: 16px;
line-height: 26px;
margin: 0;

}
/*contact*/
.contact{
    background-color: #ffbf66;
    padding-bottom: 30px;
}
.contact form{
    padding: 2rem;
    background:#fff;
    border-radius: .5rem;
    box-shadow: 0 .5 1rem rgba(0,0,0,.9);
    text-align: center;
}
.contact form .inputBox{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input, .contact form textarea{
   
    font-size: 1.7rem;
    padding: 1.5rem;
    margin: 1rem 0;
    text-transform: none;
    color: #333;
}
.contact form .inputBox input{
    width: 49%;
    padding: 10px;
}
.contact form textarea{
    height: 15rem;
    width: 100%;
    resize: none;
}
.contact form .inputBox input::placeholder, 
.contact form textarea::placeholder{
text-transform: capitalize;
}
.btn{
    background-color:#f15;
    color: white;
}
/*footer*/
.footer{
    padding: 10px;
}
.para-footer{
    text-align: center;
    padding-top: 15px;
}
.color-foot{
    color: #f15;
}